<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Om</title>
    <link rel="icon" href="/images/dinforandringLogo.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="/css/omStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/navbarStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/dropdown.css">
</head>
<body>
<header>
    <nav class="navbar">
        <div class="logo-wrapper">
            <a href="/"><img class="logo-image" src="/images/dinforandringLogo.png" alt="logo"></a>
            <a href="/"><h1 class="logo-text">Din Forandring</h1></a>
        </div>
        <ul class="nav-options">
            <li>
                <div class="dropdown">Artikler
                    <div class="dropdown-content">
                        <a href="/angst">Angst</a>
                        <a href="/fobier">Fobier</a>
                        <a href="/rygestop">Rygestop</a>
                        <a href="/vægttab">Vægttab</a>
                    </div>
                </div>
            </li>
            <li><a href="/sessioner">Sessioner</a></li>
            <li><a href="/fakta&myter">Fakta & Myter</a></li>
            <li><a href="/priser">Priser</a></li>
            <li><a href="/om">Om</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
        </ul>
        <button class="login-btn"><a href="http://20.4.75.58:8080/signin" target="_blank">Log Ind</a></button>
    </nav>
</header>
<div class="page-wrapper">
    <div class="about-page">
        <div class="image-wrapper">
            <div class="about-text-wrapper">
                <h4>Om Mig</h4>
                <div class="green-line"></div>
                <h3>Din Hypnoterapeut</h3>
                <h3 id="about-name">René Holmberg</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore
                    magna aliqua. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Magna
                    sit amet purus
                    gravida quis blandit turpis cursus. Eu mi bibendum neque egestas congue quisque egestas diam in.
                    Tempor orci eu
                    lobortis elementum nibh. Porttitor lacus luctus accumsan tortor posuere ac ut.<br><br>

                    tincidunt ornare massa eget egestas purus viverra. Risus viverra adipiscing at in tellus. Facilisis
                    leo vel
                    fringilla est ullamcorper eget. Nunc sed augue lacus viverra vitae congue. Volutpat blandit aliquam
                    etiam erat velit.
                    Felis eget nunc lobortis mattis. Purus gravida quis blandit turpis cursus in. Tortor dignissim
                    convallis aenean et
                    tortor. Ut tristique et egestas quis ipsum. Morbi non arcu risus quis varius quam quisque id.</p>
            </div>
        </div>
    </div>

</div>

</body>
</html>