<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fakta & Myter</title>
    <link rel="icon" href="/images/dinforandringLogo.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/faktaogmyterStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/navbarStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/dropdown.css">
</head>
<body>
<header>
    <nav class="navbar">
        <div class="logo-wrapper">
            <a href="/"><img class="logo-image" src="/images/dinforandringLogo.png" alt="logo"></a>
            <a href="/"><h1 class="logo-text">Din Forandring</h1></a>
        </div>
        <ul class="nav-options">
            <li>
                <div class="dropdown">Artikler
                    <div class="dropdown-content">
                        <a href="/angst">Angst</a>
                        <a href="/fobier">Fobier</a>
                        <a href="/rygestop">Rygestop</a>
                        <a href="/vægttab">Vægttab</a>
                    </div>
                </div>
            </li>
            <li><a href="/sessioner">Sessioner</a></li>
            <li><a href="/fakta&myter">Fakta & Myter</a></li>
            <li><a href="/priser">Priser</a></li>
            <li><a href="/om">Om</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
        </ul>
        <button class="login-btn"><a href="http://20.4.75.58:8080/signin" target="_blank">Log Ind</a></button>
    </nav>
</header>
<div class="page">
    <h1>Fakta & Myter</h1>
    <div class="page-wrapper">
        <div class="faq-wrapper">
            <div class="faq-left-wrapper">
                <div class="faq-container">
                    <div class="faq-box">
                        <input type="checkbox" id="faq1">
                        <label class="question" for="faq1">Myte: Hypnoterapi er kun for svage mennesker eller dem, der
                            mangler
                            viljestyrke.</label>
                        <div class="answer">
                            <p>Fakta: Hypnoterapi er ikke begrænset til specifikke personlighedstræk eller viljestyrke.
                                Det er en terapeutisk metode, der kan være nyttig for mennesker i alle livssituationer
                                og
                                personlighedstyper.
                                Hypnoterapi kan hjælpe med at styrke motivation, forbedre fokus og opnå personlige
                                mål.</p>
                        </div>
                    </div>
                    <div class="faq-box">
                        <input type="checkbox" id="faq2">
                        <label class="question" for="faq2">Myte: Hypnoterapi er kun effektiv til at stoppe med at ryge
                            eller
                            tabe
                            sig.</label>
                        <div class="answer">
                            <p>Fakta: Hypnoterapi er en alsidig terapiform, der kan bruges til en bred vifte af
                                udfordringer
                                og
                                mål.
                                Ud over rygestop og vægttab kan hypnoterapi være effektiv til at reducere stress, lindre
                                angst,
                                forbedre søvnkvalitet, håndtere smerter, forbedre selvtillid og meget mere.</p>
                        </div>
                    </div>
                    <div class="faq-box">
                        <input type="checkbox" id="faq3">
                        <label class="question" for="faq3">Myte: Hypnoterapi er kontrollerende og får en til at miste
                            kontrollen.</label>
                        <div class="answer">
                            <p>Fakta: Under hypnoterapi forbliver du altid i kontrol over dine handlinger og
                                beslutninger.
                                Hypnose er en tilstand af forøget fokusering og afslapning, hvor terapeuten guider dig
                                til
                                at
                                opnå
                                dyb afslapning og øget bevidsthed. Du bevarer altid evnen til at acceptere
                                eller afvise forslag og har fuld kontrol over dine handlinger.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-right-wrapper">
                <div class="faq-container">
                    <div class="faq-box">
                        <input type="checkbox" id="faq4">
                        <label class="question" for="faq4">Myte: Hypnoterapi virker ikke, fordi man ikke kan blive
                            hypnotiseret.</label>
                        <div class="answer">
                            <p>Fakta: Alle mennesker kan opleve hypnotisk trance i varierende grad.
                                Hypnose er en naturlig tilstand, som vi ofte oplever i vores dagligdag,
                                f.eks. når vi er dybt fokuserede eller fordybede i noget.
                                Hypnoterapi udnytter denne tilstand til at skabe positive forandringer i sind og
                                adfærd.</p>
                        </div>
                    </div>
                    <div class="faq-box">
                        <input type="checkbox" id="faq5">
                        <label class="question" for="faq5">Myte: Hypnoterapi er kun for at "omprogrammere"
                            sindet.</label>
                        <div class="answer">
                            <p>Fakta: Hypnoterapi handler ikke om at "omprogrammere" dit sind.
                                Det er en terapiform, der arbejder med at øge din bevidsthed, opdage og forstå
                                dybereliggende
                                årsager
                                til udfordringer og hjælpe dig med at udvikle sunde tanke- og adfærdsmønstre.
                                Det fokuserer på at frigøre dit potentiale og skabe positive ændringer.</p>
                        </div>
                    </div>
                    <div class="faq-box">
                        <input type="checkbox" id="faq6">
                        <label class="question" for="faq6">Myte: Hypnoterapi virker øjeblikkeligt og kan løse alle
                            problemer
                            med det
                            samme.</label>
                        <div class="answer">
                            <p>Fakta: Hypnoterapi er en proces, der kræver tid og engagement.
                                Antallet af sessioner kan variere afhængigt af individuelle behov og mål.
                                Mange mennesker oplever dog positive resultater og en
                                gradvis forbedring af deres tilstand efter flere sessioner.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>