<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angst</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/artiklerStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/navbarStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/dropdown.css">
</head>
<body>
<header>
    <nav class="navbar">
        <div class="logo-wrapper">
            <a href="/"><img class="logo-image" src="/images/dinforandringLogo.png" alt="logo"></a>
            <a href="/"><h1 class="logo-text">Din Forandring</h1></a>
        </div>
        <ul class="nav-options">
            <li>
                <div class="dropdown">Artikler
                    <div class="dropdown-content">
                        <a href="/angst">Angst</a>
                        <a href="/fobier">Fobier</a>
                        <a href="/rygestop">Rygestop</a>
                        <a href="/vægttab">Vægttab</a>
                    </div>
                </div>
            </li>
            <li><a href="/sessioner">Sessioner</a></li>
            <li><a href="/fakta&myter">Fakta & Myter</a></li>
            <li><a href="/priser">Priser</a></li>
            <li><a href="/om">Om</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
        </ul>
        <button class="login-btn">Log Ind</button>
    </nav>
</header>
<div class="page-wrapper">
    <div class="article-wrapper">
        <h1>Angst</h1>
        <div class="article-container">
            <div class="upper-containers">
                <div class="left-upper-container">
                    <img src="/images/angst-hor.jpg" alt="angst">
                </div>
                <div class="right-upper-container">
                  <h2>Angst</h2>
                    <div class="green-line"></div>
                  <p>Angst er en af de mest udbredte psykiske sygdomme, der påvirker mange mennesker i forskellige grader.
                    Angst kan variere i sværhedsgrad fra let nervøsitet til svære panikanfald, hvor man er overbevist
                    om, at man
                    vil dø. Det kan føles som en lammende tilstand, der i høj grad påvirker livskvaliteten
                    og evnen til at leve et normalt liv.
                    Der er forskellige former for angst, herunder generaliseret angst, hvor angsten er til stede det
                    meste af
                    tiden med svingende intensitet, og panikangst, hvor angsten pludselig opstår uden varsel.</p>
                </div>
            </div>
          <div class="first-lower-container">
            <h2>Hvordan kan hypnoterapi hjælpe dig?</h2>
              <div class="green-line-2"></div>
            <p>Hypnoterapi kan være effektiv til at behandle angst af flere grunde. Først og fremmest kan
              hypnose hjælpe
              med at reducere angstniveauet ved at skabe en dyb følelse af afslapning og ro. Dette kan bidrage
              til at
              sænke hjertefrekvensen, blodtrykket og åndedrætsfrekvensen, hvilket er nyttigt i bekæmpelsen af
              angstsymptomer.

              Derudover giver hypnoterapi terapeuten mulighed for at arbejde direkte med personens
              underbevidsthed for at
              ændre negative tankemønstre og adfærdsmønstre. Dette kan hjælpe med at identificere og udfordre
              dybereliggende
              årsager til angst og erstatte dem med mere hensigtsmæssige og positive overbevisninger.</p>
          </div>
          <div class="second-lower-container">
            <h2>Hvad er angst?</h2>
              <div class="green-line-3"></div>
                <p>Det er en naturlig følelse ligesom vrede, jalousi og glæde, men for nogle mennesker bliver angsten
                    langvarig
                    og intens, hvilket resulterer i en lammende fornemmelse, der begrænser deres evne til at udføre
                    almindelige
                    dagligdags aktiviteter.

                    Angst opstår som en naturlig reaktion på noget, der føles farligt, og det hjælper med at reagere
                    hurtigt
                    og instinktivt, enten ved at flygte eller forsvare sig, når man føler sig truet. Dog oplever nogle
                    mennesker
                    angst i situationer, hvor det ikke burde være til stede, som f.eks. almindelige hverdagssituationer
                    som at
                    købe ind eller tage toget. I disse tilfælde er angstreaktionen ude af proportion med den reelle
                    fare.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>