<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
    <link rel="icon" href="/images/dinforandringLogo.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/forsideStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/navbarStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/dropdown.css">
</head>
<body>
<div class="landing-wrapper">
    <header>
        <nav class="navbar">
            <div class="logo-wrapper">
                <a href="/"><img class="logo-image" src="/images/dinforandringLogo.png" alt="logo"></a>
                <a href="/"><h1 class="logo-text">Din Forandring</h1></a>
            </div>
            <ul class="nav-options">
                <li>
                    <div class="dropdown">Artikler
                        <div class="dropdown-content">
                            <a href="/angst">Angst</a>
                            <a href="/fobier">Fobier</a>
                            <a href="/rygestop">Rygestop</a>
                            <a href="/vægttab">Vægttab</a>
                        </div>
                    </div>
                </li>
                <li><a href="/sessioner">Sessioner</a></li>
                <li><a href="/fakta&myter">Fakta & Myter</a></li>
                <li><a href="/priser">Priser</a></li>
                <li><a href="/om">Om</a></li>
                <li><a href="/kontakt">Kontakt</a></li>
            </ul>
            <button class="login-btn"><a href="http://20.4.75.58:8080/signin" target="_blank">Log Ind</a></button>
        </nav>
    </header>
    <div class="left-landing-info">
        <h2 class="landing-header-text">Tid til <span id="business-title">Din Forandring</span></h2>
        <div class="p-wrapper">
        <div class="yellow-line"></div>
        <p>Det er aldrig forsent at arbejde med sig selv, nogen gange kræver det bare lidt hjælp. Hos dinforandring.com
            hjælper jeg dig til nye højder</p>
        </div>
        <button class="book-btn"><a id="book-btn" href="/kontakt" target="_blank">Book tid her</a></button>
    </div>
</div>
</body>
</html>