<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sessioner</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&family=Quicksand&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&family=Open+Sans&family=Quicksand&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/sessionerStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/navbarStyle.css">
</head>
<body>

<header>
    <nav class="navbar">
        <div class="logo-wrapper">
            <img class="logo-image" src="/images/dinforandringLogo.png" alt="logo">
            <h1 class="logo-text">Din Forandring</h1>
        </div>
        <ul class="nav-options">
            <li><a href="/artikler">Artikler</a></li>
            <li><a href="/sessioner">Sessioner</a></li>
            <li><a href="/fakta&myter">Fakta & Myter</a></li>
            <li><a href="/priser">Priser</a></li>
            <li><a href="/om">Om</a></li>
        </ul>
        <button class="login-btn">Log Ind</button>
    </nav>

</header>
<div class="page-wrapper">
    <div class="title-container">
        <h1>Fordele ved <span id="business-title">Hypnoterapi</span></h1>
    </div>
    <div class="card-container">
        <div class="card">
            <img src="/images/selvudvikling.png" alt="selvudvikling">
            <h4>Selvudvikling</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
        </div>

        <div class="card">
            <img src="/images/rygestop.png" alt="rygestop">
            <h4>Rygestop</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
        </div>

        <div class="card">
            <img src="/images/vægttab.png" alt="vægttab">
            <h4>Vægttab</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
        </div>
    </div>

    <div class="info-wrapper">
        <div class="info-container">
            <img src="/images/graph.png" alt="growth">
            <div class="info-text-wrapper">
                <div class="info-title-container">
                    <h2>Selvudvikling</h2>
                    <div class="green-line"></div>
                </div>
                <div class="info-text-container">
                    <p>tincidunt ornare massa eget egestas purus viverra. Risus viverra adipiscing at in tellus.
                        Facilisis
                        leo vel
                        fringilla est ullamcorper eget. Nunc sed augue lacus viverra vitae congue. Volutpat blandit
                        aliquam
                        etiam erat velit.
                        Felis eget nunc lobortis mattis. Purus gravida quis blandit turpis cursus in. Tortor dignissim
                        convallis aenean et
                        tortor. Ut tristique et egestas quis ipsum. Morbi non</p>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>