<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sessioner</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/sessionerStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/navbarStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/dropdown.css">
</head>
<body>

<header>
    <nav class="navbar">
        <div class="logo-wrapper">
            <a href="/"><img class="logo-image" src="/images/dinforandringLogo.png" alt="logo"></a>
            <a href="/"><h1 class="logo-text">Din Forandring</h1></a>
        </div>
        <ul class="nav-options">
            <li>
                <div class="dropdown">Artikler
                    <div class="dropdown-content">
                        <a href="/angst">Angst</a>
                        <a href="/fobier">Fobier</a>
                        <a href="/rygestop">Rygestop</a>
                        <a href="/vægttab">Vægttab</a>
                    </div>
                </div>
            </li>
            <li><a href="/sessioner">Sessioner</a></li>
            <li><a href="/fakta&myter">Fakta & Myter</a></li>
            <li><a href="/priser">Priser</a></li>
            <li><a href="/om">Om</a></li>
        </ul>
        <button class="login-btn">Log Ind</button>
    </nav>
</header>

<div class="page-wrapper">
    <div class="title-container">
        <h1>Fordele ved <span id="business-title">Hypnoterapi</span></h1>
    </div>

    <div class="card-container">
        <div class="card">
            <a href="/rygestop">
                <img src="/images/rygestop.png" alt="rygestop">
                <h4>Rygestop</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
            </a>
        </div>

        <div class="card">
            <a href="/vægttab">
                <img src="/images/vægttab.png" alt="vægttab">
                <h4>Vægttab</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
            </a>
        </div>

        <div class="card">
            <a href="/angst">
                <img src="/images/angst.png" alt="Angst">
                <h4>Angst</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
            </a>
        </div>

        <div class="card">
            <a href="/fobier">
                <img src="/images/phobia.jfif" alt="Fobier">
                <h4>Fobier</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
            </a>
        </div>
    </div>

    <div class="info-wrapper">
        <div class="info-container">
            <div class="info-text-wrapper">
                <div class="info-title-container">
                    <h2>Hvad er hypnoterapi?</h2>
                    <div class="green-line"></div>
                </div>
                <div class="info-text-container">
                    <p>Hypnoterapi er en terapeutisk praksis, der anvender hypnose til at fremkalde en tilstand af
                        dyb afslapning og fokus. Det er en form for terapi, hvor terapeuten bruger hypnotiske
                        teknikker
                        til at guide klienten ind i en trance-lignende tilstand, hvor bevidstheden bliver mere åben
                        og modtagelig for positive forandringer. I denne tilstand kan hypnoterapeuten hjælpe med at
                        udforske og arbejde med underbevidste mønstre, tanker og adfærd, der kan påvirke
                        klientens liv negativt.</p>
                </div>

                <div class="info-title-container-2">
                    <h2>Hvordan virker hypnoterapi?</h2>
                    <div class="green-line-2"></div>
                </div>
                <div class="info-text-container">
                    <p>Hypnose er en naturlig tilstand af sindet, som vi alle oplever hver dag. Det sker,
                        når vi er fuldstændig engageret i en film, bog eller aktivitet og bliver dybt fordybet.
                        Under hypnoterapi vil terapeuten guide dig ind i denne tilstand med tilladelse og
                        vejledning.
                        Når du er i en hypnotisk tilstand, har terapeuten mulighed for at
                        kommunikere med dit underbevidste sind. Det er her, dybere overbevisninger, vaner og mønstre
                        er gemt. Ved at udforske disse områder kan hypnoterapeuten hjælpe dig med at identificere og
                        forstå de tanker og adfærd, der kan være forhindringer for dit velbefindende og succes.</p>
                </div>
            </div>
        </div>

    </div>


</div>
</body>
</html>