<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Priser</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/priserStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/navbarStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/dropdown.css">
</head>
<body>
<header>
    <nav class="navbar">
        <div class="logo-wrapper">
            <a href="/"><img class="logo-image" src="/images/dinforandringLogo.png" alt="logo"></a>
            <a href="/"><h1 class="logo-text">Din Forandring</h1></a>
        </div>
        <ul class="nav-options">
            <li>
                <div class="dropdown">Artikler
                    <div class="dropdown-content">
                        <a href="/angst">Angst</a>
                        <a href="/fobier">Fobier</a>
                        <a href="/rygestop">Rygestop</a>
                        <a href="/vægttab">Vægttab</a>
                    </div>
                </div>
            </li>
            <li><a href="/sessioner">Sessioner</a></li>
            <li><a href="/fakta&myter">Fakta & Myter</a></li>
            <li><a href="/priser">Priser</a></li>
            <li><a href="/om">Om</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
        </ul>
        <button class="login-btn">Log Ind</button>
    </nav>
</header>

<div class="page-wrapper">

    <div class="text-container">
        <div class="left-text-container">
            <h2>1,5-times Hypnoterapi session</h2>
            <div class="green-line"></div>
            <p>Mine 1,5-timers sessioner er prissat til kun 1099,-.
                Som en erfaren og certificeret hypnoterapeut bruger jeg min ekspertise til at hjælpe dig med at opnå
                dine mål og skabe positive forandringer i dit liv.

                Jeg tror på, at hver person er unik, og derfor tilpasser jeg mine sessioner til dine specifikke behov og
                mål.
                Ved at skabe en tryg og afslappende atmosfære hjælper jeg dig med at opnå effektive og varige resultater
                inden
                for områder som vægttab, rygestop, stressreduktion og meget mere.

                Jeg anvender en holistisk tilgang, der adresserer både sindet og kroppen for at skabe en dybtfølt
                forandring
                og balance i dit liv. Du kan være sikker på, at jeg giver dig min fulde opmærksomhed og
                omsorg under hele processen, og jeg vil støtte og vejlede dig på din rejse mod forandring.

                Tag det første skridt mod at opnå dine mål i dag ved at booke en hypnoterapisession hos mig.
                Jeg glæder mig til at arbejde sammen med dig og hjælpe dig med at opnå de resultater, du længes
                efter.</p>

            <div class="price-container">
                <h1>1099,-</h1>
            </div>
            <div class="btn-container">
                <button class="btn">Kontakt</button>
            </div>
        </div>


        <div class="right-text-container">
            <ul>
                <li>Erfaren og certificeret</li>
            </ul>
            <p>Jeg er en erfaren og certificeret hypnoterapeut, der har den nødvendige ekspertise
                til at hjælpe dig med at opnå dit mål gennem hypnose.</p>
            <ul>
                <li>Personlig tilgang</li>
            </ul>
            <p>Jeg tilbyder en personlig tilgang til hypnoterapi, hvor jeg skræddersyr hver
                session til dine unikke behov og mål.</p>
            <ul>
                <li>Effektive resultater</li>
            </ul>
            <p>Gennem min terapi hjælper jeg dig med at opnå effektive og varige resultater
                inden for områder som vægttab, rygestop, stressreduktion og meget mere.</p>
            <ul>
                <li>Professionel og tryg atmosfære</li>
            </ul>
            <p>Jeg skaber en professionel og tryg atmosfære, hvor du kan føle dig
                afslappet og komfortabel under hypnoterapiseancerne.</p>
            <ul>
                <li>Holistisk tilgang</li>
            </ul>
            <p>Jeg anvender en holistisk tilgang til hypnoterapi, hvor jeg arbejder
                med både sindet og kroppen for at skabe en dybtfølt forandring og balance.</p>
            <ul>
                <li>Opmærksomhed og omsorg</li>
            </ul>
            <p>Jeg giver mine klienter min fulde opmærksomhed og omsorg under hele processen og sikrer,
                at du føler dig støttet og vejledt på din rejse mod forandring.</p>
        </div>

    </div>
</div>
</body>
</html>